In [3]:
import pandas as pd

In [4]:
c=pd.read_excel("ContentX.xlsx")
c.head(5)

,Unnamed: 0,Content ID,ContentType,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,video,food

In [5]:
c=c.iloc[:,1:]
c.head(5)

                             Content ID ContentType        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2       photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810       photo  healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f       photo  healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6       photo      technology
4  01ab84dd-6364-4236-abbb-3f237db77180       video            food

In [6]:
r=pd.read_excel("ReactionsX.xlsx")
r=r.iloc[:,1:]
r.head(5)

                             Content ID ReactionType            Datetime
0  97522e57-d9ab-4bd6-97bf-c24d952602d2      disgust 2020-11-07 09:43:00
1  97522e57-d9ab-4bd6-97bf-c24d952602d2      dislike 2021-06-17 12:22:00
2  97522e57-d9ab-4bd6-97bf-c24d952602d2       scared 2021-04-18 05:13:00
3  97522e57-d9ab-4bd6-97bf-c24d952602d2      disgust 2021-01-06 19:13:00
4  97522e57-d9ab-4bd6-97bf-c24d952602d2   interested 2020-08-23 12:25:00

In [7]:
rt=pd.read_excel("ReactionTypesX.xlsx")
rt=rt.iloc[:,1:]
rt.head()

  ReactionType Sentiment  Score
0        heart  positive     60
1         want  positive     70
2      disgust  negative      0
3         hate  negative      5
4   interested  positive     30

In [8]:
m1=pd.merge(r,c,on="Content ID")
m1.head()

,Content ID,ReactionType,Datetime,ContentType,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:00,photo,Studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:00,photo,Studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:00,photo,Studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:00,photo,Studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:00,photo,Studying

In [9]:
m2=pd.merge(m1,rt,on="ReactionType")
m2.head()

,Content ID,ReactionType,Datetime,ContentType,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:00,photo,Studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:00,photo,Studying,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-04-09 02:46:00,photo,Studying,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,2021-03-28 21:15:00,photo,healthy eating,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,2020-08-04 05:40:00,photo,healthy eating,negative,0

In [10]:
m2.to_csv("D:\Forage Job Simulations\Data Analytics Accenture Forage\Task 2\merged.csv")

In [11]:
df=pd.read_csv("merged.csv")
df.head()

,Unnamed: 0,Content ID,ReactionType,Datetime,ContentType,Category,Sentiment,Score
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:00,photo,Studying,negative,0
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:00,photo,Studying,negative,0
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-04-09 02:46:00,photo,Studying,negative,0
3,3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,2021-03-28 21:15:00,photo,healthy eating,negative,0
4,4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,2020-08-04 05:40:00,photo,healthy eating,negative,0

In [12]:
df=df.iloc[:,1:]
df.head()

,Content ID,ReactionType,Datetime,ContentType,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:00,photo,Studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:00,photo,Studying,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-04-09 02:46:00,photo,Studying,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,2021-03-28 21:15:00,photo,healthy eating,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,2020-08-04 05:40:00,photo,healthy eating,negative,0

In [13]:
df.to_csv("D:\Forage Job Simulations\Data Analytics Accenture Forage\Task 2\FinalData.csv")

In [14]:
df1=df.sort_values(by=["Score"],ascending=False)
df1.head()

,Content ID,ReactionType,Datetime,ContentType,Category,Sentiment,Score
14639,7913b30d-19fd-4900-8a68-ce141192b3ec,super love,2020-12-03 17:51:00,audio,cooking,positive,75
14863,10683ab8-914b-43ae-ad2d-b2fd6a48dc33,super love,2020-11-17 06:19:00,audio,soccer,positive,75
14872,d624685f-99a7-4aee-902b-283f5cf85ada,super love,2020-10-08 03:26:00,photo,studying,positive,75
14871,5b71c62f-2c89-4d19-991f-65fedd0b52fd,super love,2021-01-22 09:44:00,video,education,positive,75
14870,9c8be342-6cff-4d80-bf94-fd0fd8ccd845,super love,2021-06-05 19:24:00,video,dogs,positive,75

In [15]:
df1.to_csv("D:\Forage Job Simulations\Data Analytics Accenture Forage\Task 2\Final_Data.csv")